@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kanit&family=Pacifico&family=Rammetto+One&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kanit&family=Rammetto+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

button:hover{
    background-color: #65dcfa;
}

body{
    background-color: #b8e7f3;
    font-size: 100%;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Pacifico', cursive;
    
}

.logo-imagem{
    width: 90px;
    height: 90px;
    padding: 5px;
}


.cabecalho-menu{
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
}

.cabecalho-menu-item{
    background-color:rgba(144,  203,  44,  0);
    width: 80px;
    height: 40px;
    outline: #010708;
    border-radius: 20px;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.conteudo-principal-home{
    padding: 15px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

.image-home{
    width: 95%;
    height: 20%;
    margin: 10px;
}

.conteudo-principal-get-clientes{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    padding: 15px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.conteudo-principal-get-clientes-menu{
    display: flex;
    flex-direction: row;
}

.conteudo-principal-get-clientes-button{
    position: relative;
    width: 200px;
    height: 50px;
    margin-right: 15px;
    margin-top: 10px;
    background-color:rgba(144,  203,  44,  0);
    outline: #010708;
    border-radius: 20px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;

}

.conteudo-principal-get-clientes-by-id{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 60vh;
    padding: 15px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.conteudo-principal-get-clientes-by-id-input{
    width: 90px;
    height: 30px;
    margin-left: 10px;
    background-color: #a5eafc;
    border-radius: 20px;
    outline: #010708;
    width: 100px;
    height: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    text-align: center;
}

.conteudo-principal-get-clientes-by-id-seacrh{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteudo-principal-get-by-id-clientes-button{
    position: relative;
    width: 200px;
    height: 50px;
    margin-right: 15px;
    margin-top: 10px;
    background-color:rgba(144,  203,  44,  0);
    outline: #010708;
    border-radius: 20px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 20px;
}

table {
    border: 1px solid;
    border-collapse: collapse;
}

th, tr{
    border: 1px solid;
    border-collapse: collapse;
}

.title-table{
    background-color: #65dcfa;
}

footer{
    position: absolute;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
}


