@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kanit&family=Pacifico&family=Rammetto+One&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kanit&family=Rammetto+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #b8e7f3;
    font-size: 100%;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Pacifico', cursive;
    
}

.logo-imagem{
    width: 90px;
    height: 90px;
    padding: 5px;
}


#cabecalho-menu{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: right;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#conteudo-principal{
    padding: 15px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

.image-home{
    width: 95%;
    height: 20%;
    margin: 10px;
}


footer{
    position: absolute;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
}
